@using InsideOutSoftware.Web.Services
@inject ProjectService ProjectService

<section id="projects" class="projects-section">
    <h2>Projects</h2>
    
    <div class="projects-grid">
        @foreach (var project in ProjectService.GetAllProjects())
        {
            <ProjectEntry
                Title="@project.Title"
                ImgSrc="@project.ImgSrc"
                ImgAlt="@project.ImgAlt"
                Description="@project.Description"
                ImgFolder="@project.ImgFolder"
                Border="@project.Border"
                ProjectId="@project.Id"/>
        }
    </div>
</section>