<div class="project-card" @onclick="OnProjectEntryClicked">
    <div class="project-image-container">
        <img
            class="project-image"
            src="@ImgSrc"
            alt="@ImgAlt" />
    </div>
    
    <div class="project-content">
        <h3 class="project-title">@Title</h3>
        <p class="project-description">@(Description.Length > 100 ? Description.Substring(0, 100) + "..." : Description)</p>
        <div class="project-view">
            <span>View Details</span>
            <i class="bi bi-arrow-right"></i>
        </div>
    </div>
</div>

<Modal
    @ref="modal"
    Size="@ModalSize"/>

@code {
    private Modal modal = default!;
    
    [Parameter]
    public string ImgSrc { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImgAlt { get; set; }

    [Parameter]
    public string Link { get; set; }
    
    [Parameter]
    public string Description { get; set; }
    
    [Parameter]
    public string ImgFolder { get; set; }

    [Parameter]
    public ModalSize ModalSize { get; set; } = ModalSize.Large;
    
    [Parameter]
    public bool Border { get; set; }

    private async Task OnProjectEntryClicked()
    {
        var parameters = new Dictionary<string, object>
        {
            { nameof(Description), Description },
            { nameof(ImgFolder), ImgFolder },
            { nameof(Link), Link},
            { nameof(Border), Border }
        };
        
        await modal.ShowAsync<ProjectDialog>(Title, parameters: parameters);
    }
}