<div class="work-entry">
    <div class="work-date">
        <span>@Dates</span>
    </div>
    
    <div class="work-details">
        @if (!string.IsNullOrWhiteSpace(WebLink))
        {
            <a href="@WebLink" target="_blank" rel="noopener noreferrer" class="work-title-link">
                <h3 class="work-title">
                    @JobTitle
                    <span class="material-symbols-outlined title-span">arrow_outward</span>
                </h3>
            </a>
        }
        else
        {
            <h3 class="work-title">@JobTitle</h3>
        }
        
        <p class="work-description">@Description</p>
        
        <ul class="tech-list">
            @foreach (var tech in Techs)
            {
                <li class="tech-item">@tech</li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Dates { get; set; } = string.Empty;
    
    [Parameter, EditorRequired]
    public string JobTitle { get; set; } = string.Empty;
    
    [Parameter, EditorRequired]
    public string Description { get; set; } = string.Empty;
    
    [Parameter, EditorRequired]
    public IReadOnlyList<string> Techs { get; set; } = [];
    
    [Parameter]
    public string? WebLink { get; set; }
}
